@model List<webapp.Models.Category>

@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Courses";
}

        

<div class="container">
    <main role="main" class="pb-3">

        <h1 class="text-center text-primary">@ViewData["Title"]</h1>
        <br/>

        <div class="row">
            @foreach (var item in Model)
            {
                <vc:category-summary name="@item.categoryName" description="@item.categoryDescription" filename="@item.categoryPicture" catpath = "@item.categoryPath"></vc:category-summary>
            }
        </div>
        
    </main>
</div>