
@model webapp.Models.Course

<div class="col-lg-4">
    <div class="card card-block" id="catcard">
        <img class="card-img-top"
            src="~/Uploads/Thumbnails/@Url.Content(@Model.courseThumbnail)"
            alt="Card image cap">
        <div class="card-block p-3">
            <h4 class="card-title">@Model.courseName</h4>
            <p class="card-text">@Model.courseDescription</p>
            <hr style="border: 1px dashed blue"/>
            <a asp-controller="Course" asp-action="sellersidedetails" asp-route-id="@Model.ID" class="btn btn-success">Watch Course</a>
            <a asp-controller="Seller" asp-action="addvideo" asp-route-id="@Model.ID" class="btn btn-primary">Add Videos</a>
            <br/>
            <hr style="border: 1px dashed blue"/>
            <a asp-controller="Seller" asp-action="deletecourse" asp-route-id="@Model.ID" class="btn btn-danger">Delete Course</a>
            <a asp-controller="Seller" asp-action="updatecourse" asp-route-id="@Model.ID" class="btn btn-warning">Update Course</a>
            <br/>
            <hr style="border: 1px dashed blue"/>
        </div>
    </div>
</div>